applications:
  ceph-mon:
    options:
      source: cloud:bionic-train
  ceph-osd:
    options:
      source: cloud:bionic-train
  nova-cloud-controller:
    options:
      openstack-origin: cloud:bionic-train
  cinder:
    options:
      openstack-origin: cloud:bionic-train
  nova-compute:
    options:
      openstack-origin: cloud:bionic-train
  glance:
    num_units: 1
    options:
      openstack-origin: cloud:bionic-train
  neutron-api:
    options:
      openstack-origin: cloud:bionic-train
  placement:
    charm: cs:placement
    num_units: 1
    to:
      - "0"
    options:
      openstack-origin: cloud:bionic-train
  elasticsearch:
    channel: candidate
  grafana:
    channel: candidate
  graylog:
    channel: candidate
  hw-health:
    channel: candidate
  mongodb:
    channel: candidate
  nagios:
    channel: candidate
  nrpe:
    channel: candidate
  prometheus:
    channel: candidate
  prometheus-alertmanager:
    channel: candidate
  prometheus-ceph-exporter:
    channel: candidate
  prometheus-openstack-exporter:
    channel: candidate
  openstack-service-checks:
    channel: candidate
  sysconfig:
    channel: candidate
  telegraf:
    channel: candidate
  prometheus-libvirt-exporter:
    channel: candidate
relations:
- - placement:shared-db
  - mysql:shared-db
- - placement:identity-service
  - keystone:identity-service
- - placement:placement
  - nova-cloud-controller:placement
