series: focal
applications:
  ceph-osd:
    options:
      source: cloud:focal-victoria
  ceph-mon:
    options:
      source: cloud:focal-victoria
  nova-cloud-controller:
    options:
      source: cloud:focal-victoria
  nova-compute:
    options:
      source: cloud:focal-victoria
  keystone:
    options:
      source: cloud:focal-victoria
  cinder:
    options:
      source: cloud:focal-victoria
  glance:
    options:
      source: cloud:focal-victoria
  neutron-api:
    options:
      source: cloud:focal-victoria
