applications:
  elastic:
    channel: candidate
  grafana:
    channel: candidate
  graylog:
    channel: candidate
  hw-health:
    channel: candidate
  mongo:
    channel: candidate
  nagios:
    channel: candidate
  nrpe:
    channel: candidate
  prometheus:
    channel: candidate
  prometheus-alertmanager:
    channel: candidate
  prometheus-ceph-exporter:
    channel: candidate
  prometheus-openstack-exporter:
    channel: candidate
  sysconfig:
    channel: candidate
  telegraf:
    channel: candidate
  prometheus-libvirt-exporter:
    channel: candidate
